<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="mexBehavior">
                    <serviceMetadata />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="mexBehavior" name="QuizService.ExamSystem">
                <endpoint address="ExamService" binding="netTcpBinding" bindingConfiguration=""
                    contract="QuizService.ExamService" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:3000" />
                        <add baseAddress="net.tcp://localhost:3010" />
                    </baseAddresses>
                </host>
            </service>
            <service behaviorConfiguration="mexBehavior" name="QuizService.QuestionSystem">
                <endpoint address="QuestionService" binding="netTcpBinding" bindingConfiguration=""
                    contract="QuizService.QuestionService" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:3001" />
                        <add baseAddress="net.tcp://localhost:3011" />
                    </baseAddresses>
                </host>
            </service>
            <service behaviorConfiguration="mexBehavior" name="QuizService.StudentSystem">
                <endpoint address="StudentService" binding="netTcpBinding" bindingConfiguration=""
                    contract="QuizService.StudentService" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:3002" />
                        <add baseAddress="net.tcp://localhost:3012" />
                    </baseAddresses>
                </host>
            </service>
            <service behaviorConfiguration="mexBehavior" name="QuizService.TeacherSystem">
                <endpoint address="TeacherService" binding="netTcpBinding" bindingConfiguration=""
                    contract="QuizService.TeacherService" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:3003" />
                        <add baseAddress="net.tcp://localhost:3013" />
                    </baseAddresses>
                </host>
            </service>
            <service behaviorConfiguration="mexBehavior" name="QuizService.UserSystem">
                <endpoint address="UserService" binding="netTcpBinding" bindingConfiguration=""
                    contract="QuizService.UserService" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:3004" />
                        <add baseAddress="net.tcp://localhost:3014" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>